html{
    font-family: Helvetica, sans-serif;
}

nav{
    display: inline-block;
}

nav ul li{
    display: inline-block;
    margin-right: 15px;
}

a{
    text-decoration: none;
    color: green;
}

hr{
    background-color: black;
    height: 2px;
}

header, main{
    margin: 50px;
}

header h1{
    display: inline;
}

main h1{
    font-weight: 100;
}
