body{
    display: flex;
    background-color: rgb(238, 238, 238);
    height: 100vh;
    flex-wrap: wrap;
    font-family: Helvetica, sans-serif;
    flex-direction: column;
    justify-content: space-between;
}

header{
    border-bottom: 5px solid black;
}

footer{
    color: rgb(255, 255, 255);
    background-color: rgb(102, 102, 102);
    padding: 1rem;
}