* {
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.timeline {
    border-width: 0.3rem;
    border-color: rgb(153, 153, 153);
    border-style: solid;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1rem;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: rgb(153, 153, 153);
    top: 73px;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

.container:nth-child(even):after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: green;
    border: 4px solid rgb(153, 153, 153);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.container:nth-child(odd):after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: orange;
    border: 4px solid rgb(153, 153, 153);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.left {
    left: 0;
    text-align: right;
}

.right {
    left: 50%;
    text-align: left;
}

.left::before {
    content: "";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

.right::after {
    left: -16px;
}

.wrapper{
    text-align: center;
}

h1{
    text-align: center;
    border: 1px solid rgb(153, 153, 153);
    display: inline-block;
    font-size: 20px;
    padding: 0.5rem;
}

h3 {
    font-style: italic;
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
      .timeline::after {
        left: 31px;
        margin-left: 14px;
        top: 96px;
      }
    
      .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
      }
      
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
      .left::after, .right::after {
        left: 15px;
      }
    
      .right {
        left: 0%;
      }

      .left{
        text-align: left;
      }

        h1{
            margin-right: 95px;
        }
    }

@media screen and (max-width: 542px){
    .timeline::after {
        top: 96px;
      }
}