body{
    width: 1100px;
    margin: 0 auto;
    background-color: lightgray;
}

header{
    border-bottom: 2px solid rgb(0,0,0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1{
    text-transform: uppercase;
}

header nav ul{
    display: flex;
    gap: 20px;
}

header ul li {
    list-style: none;
}

header nav ul li a{
    color: rgb(0, 153, 0);
    text-decoration: none;
}

header nav ul li a:hover{
    color: #fff;
}