@{
    ViewData["Title"] = "Dependency Injection Demo";
}

<h1>Dependency Injection Demo</h1>

<p>Transient Service Instance ID: @ViewBag.TransientInstanceId</p>
<p>Scoped Service Instance ID: @ViewBag.ScopedInstanceId</p>
<p>Singleton Service Instance ID: @ViewBag.SingletonInstanceId</p>