@media screen and (max-width: 600px) {
    body {
        overflow-x: hidden;
    }

    .home-image1 {
        width: 95%;
    }

    .home-hero {
        flex-direction: column-reverse;
    }

    .home-hero-text-container {
        width: 100%;
        margin-left: 0;
    }

    .home-cta-btn2 {
        width: 40%;
        margin: 0 auto;
    }

    .home-features {
        height: 1600px;
    }

    .home-heading-container {
        width: 100%;
    }

    .home-cards-container {
        flex-direction: column;
    }

    .home-feature-card {
        width: 100%;
    }

    .home-feature-card1 {
        width: 100%;
    }

    .home-feature-card2 {
        width: 100%;
    }

    .home-stats {
        grid-template-columns: 1fr
    }
}