@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4"><b>Seminar Hub</b></h1>
    <p>Your Gateway to Educational Seminars and Events.</p>

    <img class="home-page-image" src="~/img/seminar-cloud.png" style="width: 75vh" />
</div>
